/*==================== VARIABLES CSS ====================*/
:root{
    --header-height: 8rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    
    /* HSL color mode */
    --first-color: hsl(232, 48%, 46%);
    --first-color-alt: hsl(232, 51%, 42%);
    --background: hsl(232, 69%, 97%);
    --background-alt: hsl(232, 80%, 20%);
    --dark-grey: hsl(232, 21%, 35%);
    --light-grey: hsl(232, 21%, 58%);
    --dark-blue: #2646C4;
    --blue: #4F74FF;
    --pink: rgb(209, 3, 252);
    --yellow: #FAA916;
    --yellow-green: #A2D729;
    --red: #B74F6F;
    --white: #fff;
    --text-color: #FFFFFF;
    --input-color: #010319;
    --body-color: #BBC2D8;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /*========== Font Size  ==========*/
    --big-font-size: 3rem;
    --h1-font-size:2.2rem;
    --h2-font-size: 1.8rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.2rem;

    --font-regular: 400;
    --font-bold: 700; 

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*==================== RESUABLES ====================*/
.section{
    padding: 3rem 0 1rem;
}

.section__title{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-bold);
    color: var(--dark-grey);
    margin-bottom: 1.8rem;
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item__flex{
    display: inline-flex;
    align-items: center;
}

.flex__center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.not-sr-only{
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

.rounded__button{
    text-align: center;
    border-radius: 50%;
}

/*==================== BASE ====================*/

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: 0;
    box-sizing: border-box;
}

html{
    /* Arredondar o font-size para utilizar REMs inteiros */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--background-alt);
    color: var(--body-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== SCROLL BAR ====================*/

::-webkit-scrollbar{
    width: .8rem;
    background-color: var(--scroll-bar-color);
    border-radius: 8rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: 8rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--light-grey);
}

