/*==================== LAYOUT ====================*/
.container{
    max-width: 768px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.header{
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
   
    color: var(--light-grey);
}

/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*==================== MAIN ====================*/

main h1{
    color: var(--background-alt);
}